* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.navbar {
    background-image: linear-gradient(45deg, #E91E63, #2c67f2);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transition: transform ease-out 0.6s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);

}

img {
    width: 120px;
    height: 180px;
    border-radius: 16px;
}

.whatsapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.whatsapp img{
        width: 52px;
        height: 52px;
    }

    .whatsapp img:hover{
        cursor: pointer;
            box-shadow: 0 0 20px rgba(0, 255, 55, 0.829);


    }